<ng-container *ngIf="product.length!=0">
    <div class="container">
    <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of product; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.title}}</td>
                        <td><img style="width:120px;" src="{{item.image}}"></td>
                        <td style="width:25%">{{item.description}}</td>
                        <td style="width:25%">{{item.price}}</td>
                        <td style="width:25%">{{item.quantity}}</td>
                        <td style="width:25%">{{item.total}}</td>
                        <td style="width:25%"><button class="btn btn-danger" (click)="removeItem(item)"><i class="fas fa-trash-alt"></i></button></td>

                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td>
                        <button class="btn btn-danger" (click)="emptycart()">Empty cart</button>
                        </td>
                        <td>
                            <button  routerLink="/products" class="btn btn-primary">Shop More></button>
                            </td>
                            <td>
                                <button class="btn btn-success">Checkout</button>
                                </td>
                                <td><strong>Grand Total:${{grandTotal}}</strong></td>
                                
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</ng-container>

<ng-container *ngIf="product.length==0">

<div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="" class="">
        <h4>your cart is empty</h4>
        <h6>Add item</h6>
        <button routerLink="/products" class="btn btn-primary">Shop now</button>
        
    </div>
</div>
</ng-container>